@font-face {
    font-family: "AmpleSoftPro";
    font-style: normal;
    font-weight: 100;
    src: url("assets/fonts/ample-soft-pro/AmpleSoftPro-Thin.eot") format("eot"),
    url("assets/fonts/ample-soft-pro/AmpleSoftPro-Thin.ttf") format("ttf"),
    url("assets/fonts/ample-soft-pro/AmpleSoftPro-Thin.woff") format("woff"),
    url("assets/fonts/ample-soft-pro/AmpleSoftPro-Thin.woff2") format("woff2")
}
@font-face {
    font-family: "AmpleSoftPro";
    font-style: normal;
    font-weight: 200;
    src: url("assets/fonts/ample-soft-pro/AmpleSoftPro-ExtraLight.eot") format("eot"),
    url("assets/fonts/ample-soft-pro/AmpleSoftPro-ExtraLight.ttf") format("ttf"),
    url("assets/fonts/ample-soft-pro/AmpleSoftPro-ExtraLight.woff") format("woff"),
    url("assets/fonts/ample-soft-pro/AmpleSoftPro-ExtraLight.woff2") format("woff2")
}

@font-face {
    font-family: "AmpleSoftPro";
    font-style: normal;
    font-weight: 300;
    src: url("assets/fonts/ample-soft-pro/AmpleSoftPro-Light.eot") format("eot"),
    url("assets/fonts/ample-soft-pro/AmpleSoftPro-Light.ttf") format("ttf"),
    url("assets/fonts/ample-soft-pro/AmpleSoftPro-Light.woff") format("woff"),
    url("assets/fonts/ample-soft-pro/AmpleSoftPro-Light.woff2") format("woff2")
}

@font-face {
    font-family: "AmpleSoftPro";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/ample-soft-pro/AmpleSoftPro-Regular.eot") format("eot"),
    url("assets/fonts/ample-soft-pro/AmpleSoftPro-Regular.ttf") format("ttf"),
    url("assets/fonts/ample-soft-pro/AmpleSoftPro-Regular.woff") format("woff"),
    url("assets/fonts/ample-soft-pro/AmpleSoftPro-Regular.woff2") format("woff2")
}

@font-face {
    font-family: "AmpleSoftPro";
    font-style: normal;
    font-weight: 500;
    src: url("assets/fonts/ample-soft-pro/AmpleSoftPro-Medium.eot") format("eot"),
    url("assets/fonts/ample-soft-pro/AmpleSoftPro-Medium.ttf") format("ttf"),
    url("assets/fonts/ample-soft-pro/AmpleSoftPro-Medium.woff") format("woff"),
    url("assets/fonts/ample-soft-pro/AmpleSoftPro-Medium.woff2") format("woff2")
}

@font-face {
    font-family: "AmpleSoftPro";
    font-style: normal;
    font-weight: 600;
    src: url("assets/fonts/ample-soft-pro/AmpleSoftPro-Bold.eot") format("eot"),
    url("assets/fonts/ample-soft-pro/AmpleSoftPro-Bold.ttf") format("ttf"),
    url("assets/fonts/ample-soft-pro/AmpleSoftPro-Bold.woff") format("woff"),
    url("assets/fonts/ample-soft-pro/AmpleSoftPro-Bold.woff2") format("woff2")
}
